.bloomy-stage-infocards__background {
  background: #fcf5ea;
}

.bloomy-stage-infocards {
  padding-top: 48px;
  padding-bottom: 48px;
  font-family: var(--font-paragraph--family);
  color: #212121;
}

.bloomy-stage-infocards__heading,
.bloomy-stage-infocards__card-title,
.bloomy-stage-infocards__subtitle,
.bloomy-stage-infocards__description {
  margin: 0;
}

.bloomy-stage-infocards__heading {
  text-align: center;
  color: #212121;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 32px;
}

.bloomy-stage-infocards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.bloomy-stage-infocards__card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2.5rem;
  background: #ffffff;
}

.bloomy-stage-infocards__media {
  /* height: 14rem; */
  background: #ead8c4;
}

.bloomy-stage-infocards__image,
.bloomy-stage-infocards__placeholder {
  display: block;
  width: 100%;
  height: 100%;
}

.bloomy-stage-infocards__image {
  object-fit: cover;
}

.bloomy-stage-infocards__placeholder {
  fill: #d3b79b;
  background: #ead8c4;
}

.bloomy-stage-infocards__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  padding: 30px 24px 32px;
  text-align: center;
}

.bloomy-stage-infocards__card-title {
  color: #212121;
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

.bloomy-stage-infocards__subtitle {
  margin-top: 2px;
  color: #be783e;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
}

.bloomy-stage-infocards__description {
  margin-top: .625rem;
  color: #212121;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (min-width: 991px) {
  .bloomy-stage-infocards {
    padding-top: 64px;
    padding-bottom: 80px;
  }

  .bloomy-stage-infocards__heading {
    margin-bottom: 40px;
    font-size: 3.75rem;
    line-height: 0.9;
  }

  .bloomy-stage-infocards__card-title {
    font-size: 2rem;
    line-height: 1.5rem;
  }

  .bloomy-stage-infocards__subtitle {
    font-size: 1.25rem;
  }

  .bloomy-stage-infocards__card {
    flex: 0 0 calc((100% - 4rem) / 3);
    max-width: calc((100% - 4rem) / 3);
  }

  .bloomy-stage-infocards__media {
    /* height: 14.375rem; */
  }

  .bloomy-stage-infocards__content {
    padding: 30px 28px 32px;
  }

  .bloomy-stage-infocards__description {
    font-size: 1.25rem
  }
}
